<html>
    <head>
        <title>Badnaam Movie site</title>
        <style>
        body{
            background: linear-gradient(#FF5733  ,#0F99F7  );
        }
        li{
            color: #FF5733;
            font-size: 25;
            display: inline-block;
           padding-left: 15px;   
        }
        li:hover{
                transform: scale(1.2);
                
        </style>
    </head>
    <body>
        <div>
            <ul>
                <li><a href="/home/">Home</a></li>
                <li><a href="/about/">About</a></li>
            </ul>
        </div>
        <div >
         <center>
      <p style="color: darkblue; font-size: 33px; font-style:italic;"><u>BADNAAM MOVIES</u></p>
                
       
         </center>

        </div>
    </body>
</html>