<html>
    <head>
        <title>
            About Me
        </title>
        <style>

        h2{
            font-style: italic;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: gold;
            margin-bottom: 1220px;
        }
        </style>
        </head>
        <body>
            {% include "title.html" %}
            <center>
            <div >
                <img src="/static/img.jpg" style=" width:350px; height:350px;">
            </div>
            <div >
             <h2>Creator of this website is Mr. Nikhil Bansal. </h2>
            </div>
            </center>

        </body>
</html>