<html>
    <head>
        <title>
            Banking
        </title>
        <style>
       input{
            border-radius:1em;
            margin-top: 100px; 
           font-style: italic;
           font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
             width:100px; 
             height:40px;
             background-color:firebrick; 
                }
        input:hover{
            transform: scale(1.1);
            background-color: darkred;

        }

        
        </style>
        <body>
            {% include 'mypage.html' %}
            <div>
                <center>
                    <a href="/credit.html/"><input type="button" value="Credit" ></a>
                    <a/ href="/debit.html/"><input type="button" value="Debit"></a>
                </center>
            </div>
        </body>
    </head>
</html>