<html>
    <head>
        <title>
            Barbad Bank
        </title>
        <style>
        body{
            background-image:url("/static/bg2.jpg");
            background-size: 79pc; 

        }
       .tit{
        padding-left: 445px ; 
        padding-top: 30px;
        padding-bottom: 30px;
            font-family: 'Times New Roman', Times, serif;
            font-size: 48px;
            font-style: italic;
            color: maroon;
        }    
        .titlediv{
            background: linear-gradient(white,yellow);
            
       
        }
        
        </style>
    </head>
    <body>
            <div class="titlediv">
           
                    <h1 class="tit">BARBAD BANK</h1>
                
                </div>
    </body>
</html>